
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@Html.ValidationSummary()
<form method="post" action="/Account/Login">
    <label>Username: </label><input type="text" name="username" /> <br />
    <label>Password: </label><input type="password" name="password" /> <br />

    <label>Remember Me </label><input type="checkbox" value="true" name="rememberMe" /> <br/>

    <button type="submit" name="login">Log In</button> <br /> <br />
    <a href="/Account/Create">Create an account</a>
</form>